@import '../../assets/variables.scss';

.heroPage_container {
    min-height: calc(100vh - 60px);
    @include frc;
    p {
        @include font-base;
    }
    .heroPage_description {
        @include fcc;
        position: relative;
        top: -100px;
    }
}