@import '../../assets/variables.scss';

.works_container {
    margin-top: 100px;
    .works_item_container {
        margin-top: 100px;
        @include frc;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        .works_item_description_container {
            @include fcc;
            align-items: flex-start;
            width: 35vw;
            gap: 30px;
            .works_item_title {
                @include font-title;
                color: $orange-color;
            }
            .works_item_links_container {
                display: flex;
                gap: 20px;
            }
        }
        .works_item_img {
            width: 35vw;
        }
    }
    .works_item_container:nth-child(2n) {
        flex-direction: row-reverse;
    }
}